#square{
    height: 800px;
    width: 100%;
    position: absolute;
    /* border: 1px solid black; */
    z-index: 10;
    margin-top: 2360px;
    background-color: #f8f9fa;
}
#square #squa{
    position: absolute;
    /* border: 1px solid red; */
    height: 700px;
    width: 80%;
    margin-top: 50px;
    margin-left: 150px;
}
#square #squa h2{
    position: absolute;
    margin-left: 460px;
    font-size: 34px;
}
#square #squa #divs{
    position: absolute;
    height: 600px;
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 50px;
    display: flex;
    overflow: scroll !important;

}
#square #squa #divs #sub-div1{
    position: absolute;
    height: 550px;
    width: 360px;
    margin-top: 30px;
    /* border: 1px solid black; */
    line-height: 1.5em;
    background-color: #fff;
}
#square #squa #divs #sub-div2{
    position: absolute;
    height: 550px;
    width: 360px;
    margin-top: 30px;
    /* border: 1px solid black; */
    margin-left: 400px;
    line-height: 1.5em;
    background-color: #fff;
}
#square #squa #divs #sub-div3{
    position: absolute;
    height: 550px;
    width: 360px;
    margin-top: 30px;
    /* border: 1px solid black; */
    margin-left: 800px;
    line-height: 1.5em;
    background-color: #fff;
}
#square #squa #divs #sub-div4{
    position: absolute;
    height: 550px;
    width: 350px;
    margin-top: 30px;
    /* border: 1px solid black; */
    margin-left: 1200px;
    line-height: 1.5em;
    background-color: #fff;
}

#square #squa #divs #sub-div5{
    position: absolute;
    height: 550px;
    width: 350px;
    margin-top: 30px;
    /* border: 1px solid black; */
    margin-left: 1600px;
    line-height: 1.5em;
    background-color: #fff;
}

#square #squa #divs #sub-div6{
    position: absolute;
    height: 550px;
    width: 350px;
    margin-top: 30px;
    /* border: 1px solid black; */
    margin-left: 2000px;
    line-height: 1.5em;
    background-color: #fff;
}


#sub-div1 img{
    height: 200px;
    width: 360px;
}
#sub-div2 img{
    height: 220px;
    width: 360px;
}
#sub-div3 img{
    height: 210px;
    width: 360px;

}
#sub-div4 img{
    height: 200px;
    width: 350px;
}
#sub-div5 img{
    height: 220px;
    width: 350px;

}
#sub-div6 img{
    height: 210px;
    width: 350px;
}
.h{
    font-size: 20px;    
    font-family:  CircularStd, sans-serif;
    margin-top: 20px;
}
.para{
    font-size: 18px;
    color: #696969;
    margin-top: 10px;
}
.card
{
    font-size: 16px;
    color: #000;
    margin-top: 20px;
}
#section-rectangle {
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: 10;
    /* border: 1px solid black; */
    margin-top: 3160px;
    background-color: #fff;   
}
#section-rectangle #section-rect{
    position: absolute;
    height: 500px;
    width: 85%;
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    /* margin-left: -15px; */


}
#section-rectangle #section-rect #section-div1{
    position: absolute;
    /* border: 1px solid; */
    height: 480px;
    width: 370px;
    margin-left: 50px;
    margin-top: 10px;
}
#section-rectangle #section-rect #section-div1 h1{
    font-size: 2.5em;
    /* position: absolute; */
    /* margin-top: 20px; */
}
#section-rectangle #section-rect #section-div1 p{
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
#section-rectangle #section-rect #section-div1 #img1{
    position: absolute;
    margin-top: 70px;
}
#section-rectangle #section-rect #section-div1 #img2{
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
}
#section-rectangle #section-rect #section-div1 #img3{
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
    /* height: 15px; */
}
#section-rectangle #section-rect #section-div1 #img4{
    position: absolute;
    margin-top: 70px;
    margin-left: 110px;
    /* height: 15px; */
}
#section-rectangle #section-rect #section-div1 #img5{
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
    /* height: 15px; */
}
#number{
    position: relative;
    width: 65px;
    bottom: auto;
    left: auto;
    margin-left: 2rem;
    margin-top: 250px;
    color: #517dd64a;
    font-size: 12.6px;
    font-weight: 900;
    line-height: 16px;
}
#number #num{
    color: #000;
    font-size: 25.2px;
    font-weight: 900;
    line-height: 32px;
}
#section-rectangle #section-rect #section-div2{
    position: absolute;
    /* border: 1px solid; */
    height: 480px;
    width: 490px;
    margin-top: 10px;
    margin-left: 430px;
}
#section-rectangle #section-rect #section-div2 .coma-img{
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
}
#section-rectangle #section-rect #section-div2 #coma-para{
    position: absolute;
    margin-top: 110px;
    font-size: 17px;
    margin-left: 25px;
    line-height: 1.5em;
}
#section-rectangle #section-rect #section-div2 #man1{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    margin-top: 370px;
    margin-left: 20px;
}
#section-rectangle #section-rect #section-div2 #man1-name{
    position: absolute;
    margin-top: 370px;
    margin-left: 100px;
    font-size: 1em;

}

#section-rectangle #section-rect #section-div2 #man1-id{
    position: absolute;
    margin-top: 390px;
    margin-left: 100px;
    font-size: 15px;
}

#section-rectangle #section-rect #section-div3{
    position: absolute;
    /* border: 1px solid; */
    height: 480px;
    width: 300px;
    margin-top: 10px;
    margin-left: 940px;
}
#section-rectangle #section-rect #section-div3 .coma-img{
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
}
#section-rectangle #section-rect #section-div3 #coma-para1{
    position: absolute;
    margin-top: 100px;
    line-height: 1.5em;
}
#section-rectangle #section-rect #section-div3 #man2{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    margin-top: 370px;
    margin-left: 20px;
}
#section-rectangle #section-rect #section-div3 #man2-name{
    position: absolute;
    margin-top: 370px;
    margin-left: 100px;
    font-size: 1em;
}
#section-rectangle #section-rect #section-div3 #man2-id{
    position: absolute;
    margin-top: 390px;
    margin-left: 100px;
    font-size: 15px;
}