#footer{
    position: absolute;
    height: 650px;
    width: 100%;
    z-index: 10;
    /* border: 1px solid red; */
    margin-top: 3760px;
    color: #546477;
    /* background-color: #fff; */
    background-color: #071228;
}
#footer #foot{
    position: absolute;
    height: 600px;
    width: 75%;
    /* border:1px solid red ; */
    margin-top: 25px;
    margin-left: 180px;
}
#footer #foot img{
    width: 120px;
    margin-top: 30px;
    margin-left: 5px;
}
#footer #foot #ul-list{
    list-style: none;
    position: absolute;
    margin-top: -40px;
    margin-left: 180px;
    line-height: 2.5em;
    font-size: 1em;
}
#footer #foot #ul-list2{
    list-style: none;
    position: absolute;
    margin-top: -40px;
    margin-left: 380px;
    line-height: 2.5em;
    font-size: 1em;
}   
#footer #foot p{
    position: absolute;
    margin-top: -40px;
    margin-left: 520px;
    line-height: 2.5em;
    font-size: 1em;
    color: #546477;
}
#footer #foot p+P{
    position: absolute;
    margin-top: 0px;
    margin-left: 520px;
    line-height: 1.7em;
    font-size: 1em;
    color: #546477;   
}

#footer  #foot #foottt #pp{
    position: absolute;
    margin-left: 780px;
    margin-top: -40px;
    font-size: 1.1em;
}
#footer #foot #foottt img{
    position: absolute;
    margin-left: 780px;
    width: 140px;
    margin-top: 10px;
}
#footer #foot #foottt img+img{
    position: absolute;
    margin-left: 940px;
}
#footer #foot #foottt #ppp{
    position: absolute;
    margin-left: 780px;
    margin-top: 70px;
    font-size: 1em;
}
#footer #foot #foottt #images{
    display: flex;
    /* position: absolute; */
    /* height: 100px; */
    /* fill: #546477; */
}
#footer #foot #foottt #images #image1{
    height: 20px;
    position: absolute;
    margin-top: 120px;
    margin-left: 710px;
}
#footer #foot #foottt #images #image2{
    height: 20px;
    position: absolute;
    margin-left: 750px;
    margin-top: 120px;    
}
#footer #foot #foottt #images #image3{
    height: 20px;
    position: absolute;
    margin-left: 790px;
    margin-top: 120px;
}
#footer #foot #foottt #images #image4{
    height: 20px;
    position: absolute;
    margin-left: 830px;
    margin-top: 122px;
}
#footer #foot #foottt #images #image5{
    height: 20px;
    position: absolute;
    margin-top: 123px;
    margin-left: 870px;
}

#hr-line{
    position: absolute;
    top: 4330px;
    color: #696969;
    width: 100%;
    z-index:11111111;
}
#copyright{
    position: absolute;
    top: 590px;
    left: 200px;
    font-size: 1.1em;
}